.mainContainer {
  width: 50%;
  margin: auto;
  border: 2px solid var(--black);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 1200px) {
  .mainContainer {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    width: 100%;
  }
}
