.gameBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2.5rem 0.5rem 2.5rem;
  border: 2px solid var(--black);
  margin: 2px 4px 4px;
  height: 100%;
}

@media (max-width: 768px) {
  .gameBoard {
    border: none;
    margin: 0px;
  }
}
