:root {
  --primaryGreen: #495e57;
  --primaryGray: #f3f3f3;
  --secondaryGray: #00000073;
  --black: #000;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--primaryGreen);
  position: relative;
}

body {
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Markazi Text", serif;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--secondaryGray);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 2.4rem;
}
